<!-- Header Component -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" ui-sref="orders">Wine Orders</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" ui-sref="orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="create">Create Order</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  